# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4
max_line_length = 119
# Isort definitions
line_length=119
known_first_party=dj_snap_auth,dj_snap_utils
indent='    '
balanced_wrapping=True
multi_line_output=5
length_sort=1
known_django_contrib=django.contrib
known_django_utils=django.utils
known_django=django
default_section=FIRSTPARTY
no_lines_before=FUTURE,STDLIB,DJANGO_CONTRIB,DJANGO_UTILS,LOCALFOLDER
sections=FUTURE,STDLIB,DJANGO,DJANGO_CONTRIB,DJANGO_UTILS,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
verbose=True

# The JSON files contain newlines inconsistently
[*.json]
indent_size = 2
insert_final_newline = ignore

# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_style = ignore
insert_final_newline = ignore

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
