-r tests-requirements.txt
autopep8
flake8
importmagic
ipdb
jedi
rope
twine
wheel
yapf
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=7.16.3 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
