backports.unittest_mock
codecov
coverage
pytest
pytest-cov
# pytest-pep8<1.0.6  # Does not install properly on CircleCI's docker images for Python <=3.4 (!) Not used yet, anyway.
responses<0.6
-r requirements.txt
